* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 35px;
}
.navbar-header {
  padding: 14px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.img {
  display: flex;
  justify-content: center;
}
.img .image {
  height: 50px;
  width: 50px;
  transition: 0.3s;
}
.img .image:hover {
  height: 70px;
  width: 70px;
}
.navbar-navegation a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  position: relative;
  padding-bottom: 4px;
  color: black;
  transition: color 0.3s;
}
.navbar-navegation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #0b2f4a;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.navbar-navegation a:hover::after {
  transform: scaleX(1);
}
.navbar-navegation a.current-page.suppress-underline::after {
  transform: scaleX(0);
}
.navbar-navegation a.current-page::after {
  transform: scaleX(1);
}
.detail-user .dropdown button {
  color: black;
  border: 0;
}
.change-password, .log-out {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
}
.change-password {
  color: black;
}
.log-out {
  color: red;
}
.informacion-horas {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  width: 88%; 
}
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0px 10px 0px 10px;
}

main {
  flex: 1;
  padding: 20px;
  width: 90%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.contenedor-main {
  padding: 14px;
  max-height: 480px;
  overflow-y: auto; 
}
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
@media (max-width: 700px) {
  .img,
  .col-6 {
    width: 100%;
  }
  .navbar-navegation {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .detail-user {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
