* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --por-si-algo: #0B2F4A;
    --Fondo: #1E73BE;
    --Secundario: #3A3A3A;
    --Blanco: #FFFFFF;
}
body {
    background-color: var(--Fondo);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login {
    background-color: var(--Blanco);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.form-button {
    display: flex;
    justify-content: center;
}
.form-login .content-img {
    display: flex;
    justify-content: center;
}
.form-login .content-img .image {
    height: 100px;
    width: 100px;
}